#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  text-align: left;
  padding: 10px;
}

body {
  background-color: lightblue;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}